/* 相对复杂・多个组合的自定义基础组件 */

@import "../common/variables";

.my-footer {
    background-color: $cover-mask-color;
}

.my-header {
    backdrop-filter: blur(20px)!important;
    background-color: rgba(255,255,255,0.72)!important;;

    &-navbar {
        min-width: $min-screen-width;
        padding: 0;

        &-logo {
            margin: auto 12px!important;
            padding: 0!important;
        }

        &-buttons {
            background-color:transparent!important;
        }

        // mobile
        &-title {
            font-size: 1.2rem;
            font-weight: 700;
            text-align: center;
            width: 100%;
        }
    }

    // mobile
    &-drawer-toggle-btn {
        position: absolute!important;
    }
}


.my-chart {

    &-level-desctiption {
        margin: 20px auto 0;
        width: 300px;

        &-item {
            color: #808080;
            font-size: 10px;
            margin: 0;
            padding-left: 100px;
            text-align: left;
            
        }
    }
}

.my-skills-list {

    &-item {
        cursor: pointer;
    }
}

.my-works-list {
    
    &-item {
        cursor: pointer;
        position: relative;
        transition: all 0.5s;

        &-message {
            bottom: 0;
            color: #fff;  // TODO：title color
            display: flex;
            flex-direction: column;
            font-weight: 700;
            height: 100%;
            justify-content: flex-end;
            left: 0;
            opacity: 0;
            padding: 1rem;
            position: absolute;
            transition: all 0.5s;
            width: 100%;
    
            div {
                align-items: center;
                display: flex;
                justify-content: space-between;
            }

            &-createat {
                color: #7d4c4c;  // TODO：time color
                margin-top: 3px;
            }

            &-link {
                height: 1rem;
                opacity: 0.5;
                width: 1rem;

                &:hover {
                    opacity: 1;
                }
            }
        }

        &:hover {
            box-shadow: 
                rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
                rgba(0, 0, 0, 0.14) 0 5px 8px 0,
                rgba(0, 0, 0, 0.12) 0 1px 14px 0;
            transform: scale(1.025);

            .my-works-list-item-message {
                background: linear-gradient(transparent, rgba(#222, 1));
                opacity: 1;
            }
        }
    }
}
