/* 相对复杂・多个组合的自定义基础组件 */

@import "../common/variables";

.my-footer {
    background-color: $cover-mask-color;
}

.my-header {
    backdrop-filter: blur(20px)!important;
    background-color: rgba(255,255,255,0.72)!important;;

    &-navbar {
        min-width: $min-screen-width;
        padding: 0;

        &-logo {
            margin: auto 12px!important;
            padding: 0!important;
        }

        &-buttons {
            background-color:transparent!important;
        }

        // mobile
        &-title {
            font-size: 1.2rem;
            font-weight: 700;
            text-align: center;
            width: 100%;
        }
    }

    // mobile
    &-drawer-toggle-btn {
        position: absolute!important;
    }
}


.my-chart {

    &-level-desctiption {
        margin: 20px auto 0;
        width: 300px;

        &-item {
            color: #808080;
            font-size: 10px;
            margin: 0;
            padding-left: 100px;
            text-align: left;
            
        }
    }
}


.my-contact-form {

    &-field-line {
        padding: 10px 0;
    }

    &-field {
        width: 100%!important;
    }

    .my-label {
        font-size: 1rem;
        margin: 22px 0 7px;
    }

    .my-textarea {
        background-color: rgba(255, 255, 255, 0.5);
        font-size: 1rem;
        outline: none;
        padding: 20px;
        resize: none;
        width: 100%;
    }
}