---

---

<footer class="py-4 text-center text-xs">
  <div class="mx-auto mt-0 h-full max-w-5xl">
    <p>Released under the MIT License.</p>
    <p>Copyright © 2023-present BlaxBerry</p>
  </div>
</footer>
